<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668033377863-v7e030eufajiu89gr6uuhd2gald1e98o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668033377863-v7e030eufajiu89gr6uuhd2gald1e98o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668033377863-sc3fk06pm582k90mdfbn3kbaljn82kid.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDawUK9eQOO9YI6QSWllw9fb3SoS6GCGUU</string>
	<key>GCM_SENDER_ID</key>
	<string>668033377863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seiftarek.ridesharedriver</string>
	<key>PROJECT_ID</key>
	<string>rideshare-app-485711</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-app-485711.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668033377863:ios:62f754afb5869075767362</string>
</dict>
</plist>