name: iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Enables manual button trigger

jobs:
  build-ios:
    name: Build iOS App
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install Dependencies
        run: flutter pub get
        
      - name: Install Pods
        run: |
          cd ios
          rm -f Podfile.lock
          pod repo update
          pod install --repo-update
          cd ..
          
      - name: Build iOS (No Codesign)
        run: flutter build ios --release --no-codesign
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-app-unsigned
          path: build/ios/iphoneos/Runner.app
